<!DOCTYPE html>
<html>

    <head>
        <title>Q&A Sorcery</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/test.css') }}">
    </head>

    <body class="center">

        <pre>                     </pre>
        <pre>                     </pre>
            <div style="background-color: #229264; color: black; height: 50px; line-height: 50px; text-align: center; position:fixed; top:0px; left:0px; right:0px;">
            Q&A Sorcery
            </div>
            <h2>Your Answer:</h2>
            <pre>                     </pre>
            {0}
            <hr>
            <div class="container">
                <div class="row">
                    <h2>The model's certainty in the answer:</h2>
            <pre>                     </pre>
                </div>
                {1}
            </div>
    </body>
  