<html>
    <head>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/test.css') }}">
    </head>

<body class="center">
    <pre>                     </pre>
    <pre>                     </pre>
        <div style="background-color: #229264; color: black; height: 50px; line-height: 50px; text-align: center; position:fixed; top:0px; left:0px; right:0px;">
        Q&A Sorcery
        </div>
    <form action="/source/{0}">
    <h2> Ask Away</h2>
    What's your question? <input type='text' name='question'><br>
    <input type='submit' value='Continue'>
</body>

</html>